.wrapperApp {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  grid-template-rows: 8vmin 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "h h"
  "c c"
  ;
}

.header {
  grid-area: h;
  background-color: silver;
}

.wrapperElements {
  grid-area: c;
  height: 100%;
  display: flex;
}

.menuBtnOpen {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;
  margin: 1.5vmin;
  font-size: 3.5vmin;
}

.menuBtnClosed {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1.5vmin;
  font-size: 3.5vmin;
}